.bg2 {
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  background-image: url(../img/mil.jpeg);
}

.bio {
  grid-row: 2;
  border-radius: 5%;
  background: black;
  margin: auto;
  opacity: 0.8;
  width: 90%;
}

.bio p {
  text-indent: 5vw;
  line-height: 1.6rem;
  padding: 1rem;
  color: #fff;
  text-align: left;
}
