/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 1.6rem;
  height: 1.6rem;
  left: 1rem;
  top: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #eee;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background-color: #eee;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  opacity: 0.9
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #eee;
  padding: 0.8em;
}

.menuBtn {
  outline: medium none currentcolor;
  margin-top: 4rem;
  background-color: black;
  border-radius: 5%;
}

.menuBtn>a {
  color: white;
  text-decoration: none;
}
