@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
}

.Main {
  display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.bg1, .bg2, .bg3, .bg4 {
  display: grid;
    justify-items: center;
    align-items: center;
  height: auto;
  opacity: 0.9;
  position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* On Mobile background-attachment: scroll; */
@media only screen and (max-device-width: 768px) {
  .bg1, .bg2, .bg3, .bg4 {
    background-attachment: scroll;
  }
}
