.portfolio-bg {
  background-image: url(../img/portfolio.jpg);
  height: 110vh;
}

.carousel-container {
  width: 80%;
  max-width: 800px;
  height: 100%;
}

.carousel {
  margin: auto;
  padding: auto;
}

.carousel__back-button {
  border-radius: 5%;
  color: #fff;
  border:2px solid #eee;
  background-color:black;
  padding: 0.6rem;
  margin: 1rem;
}

.carousel__next-button {
  border-radius: 5%;
  color: #fff;
  border:2px solid #eee;
  background-color:black;
  padding: 0.6rem;
  margin: 1rem;
}

.portfolio-title {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  border: 2px solid #eee;
  color: #eee;
}

i {
  font-size: 3rem;
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .portfolio-bg {
    height: 110vmax;
  }
}
