.portfolio-bg {
  background-image: url(../img/portfolio.jpg);
  height: 110vh;
}

.carousel-container {
  width: 75%;
  max-width: 800px;
  height: auto;
}

.carousel {
  margin: auto;
  padding: auto;
}

.carousel__back-button {
  border-radius: 5%;
  color: #fff;
  border:2px solid #eee;
  background-color:black;
  padding: 0.6rem;
  margin: 1rem;
}

.carousel__next-button {
  border-radius: 5%;
  color: #fff;
  border:2px solid #eee;
  background-color:black;
  padding: 0.6rem;
  margin: 1rem;
}

.sourceBtn {
  cursor: pointer;
  border-radius: 5%;
  color: #fff;
  border:2px solid #eee;
  background-color:black;
  padding: 0.6rem;
  margin: 1rem;
}

embed {
  grid-column: 1/3;
  transform: scale(0.8);
  height:100vmin;
  width: 50vw;
  background: white;
  opacity: 1;
}
