.social-container {
  font-size: 1rem;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-bottom: 1rem;
  position: fixed;
  bottom: 48%;
  right: 2vmin;
}


.social-container>a {
  display: block;
}

.social-container>a>img {
  height: auto;
  width: 3rem;
}
