.social-container {
  position: fixed;
  bottom: 5%;
  right: 2vmin;
}

.social-container>a>img {
  height: auto;
  width: 3rem;
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .social-container>a>img {
    width: 2rem;
  }
}
